body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
  font-family: "Open Sans", sans-serif;
}

/*--- navigation bar ---*/

.navbar {
  background: white;
  position: fixed;
  z-index: 100;
  width: 100%;
  opacity: 0.9;
}

.nav-link,
.navbar-brand {
  color: black;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url("../Images/family.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.tag-line {
  color: #4aa0fd;
  text-align: center;
  position: relative;
  bottom: 30px;
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1,
h2 {
  color: white;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border: 1px solid #4aa0fd;
  background: #4aa0fd;
  border-radius: 0;
  color: #fff;
}

.description button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.features .form-control,
.features input {
  border-radius: 0;
}

.features .btn {
  background-color: #4aa0fd;
  border: 1px solid #4aa0fd;
  color: #fff;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}

.footer-copyright {
  color: #666;
  padding: 40px 0;
}

#more-details {
  font-size: small;
}

.ready-to-start {
  background-color: #4aa0fd;
  height: 100%;
  width: 100%;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 100px;
}

.ready-to-start button {
  width: 50%;
  margin: 0 auto;
  color: white;
  background-color: #333;
}

.ready-to-start button:hover {
  background-color: white;
  color: black;
}

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  .description h1 {
    font-size: 2em;
  }
  .description p {
    font-size: 1.2rem;
  }
  .features {
    margin: 0;
  }
}
